torch==2.6.*
jupyterlab==4.2.*
tiktoken==0.9.0
# torch doesn't need it but spews a warning without it when num_workers > 0 in DataLoader
numpy==2.2.6
tqdm==4.67.1
git+https://github.com/GlaIZier/minbpe-tokenizer.git@main
